@namespace GisMasterWblBase.Components

@inherits DxTextBox

@* Using this tecnique you can inherit from a base component, render it and add your own graphics around and set default params or new params as well *@
<span>
    @RenderBase()
</span>

@code {
    RenderFragment RenderBase() => builder => base.BuildRenderTree(builder);

    // metodo "DevExpress" per settare impostazioni di base a un component nuovo facendolo ereditare da un loro component
    private bool _initialParametersSet;
    protected override Task SetParametersAsyncCore(ParameterView parameters)
    {
        if (!_initialParametersSet)
        {
            base.Enabled = true;
            base.ClearButtonDisplayMode = DataEditorClearButtonDisplayMode.Auto;

            /*
            * other initializations and logics...
            */

            _initialParametersSet = true;
        }
        return base.SetParametersAsyncCore(parameters);
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
